<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutuspage' %}">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productpage' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contactpage' %}">ContactUs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>