{% extends 'index.html' %}
{% block title %}Person Form{% endblock%}
{% block contents %}
   <div class='row'>
       <div class='col-md-3'>
           <form method='post' enctype='multipart/form-data'>
                
                {% csrf_token %}
                
                <!-- {{form.as_p}} -->
                <table>
                    {% if imgurl %}
                         <tr>
                               <td colspan="2"><img src='{{imgurl.ImageUrl}}'  width="30px" height="30px"></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>{{forms.name.label}}</td>
                        <td>{{forms.name}}</td>
                    </tr>
                    <tr>
                        <td>{{forms.city.label}}</td>
                        <td>{{forms.city}}</td>
                    </tr>
                    <tr>
                        <td>{{forms.gender.label}}</td>
                        <td>{{forms.gender}}</td>
                    </tr>
                  
                    <tr>
                        <td>{{forms.contactno.label}}</td>
                        <td>{{forms.contactno}}</td>
                    </tr>
                    <tr>
                        <td>{{forms.zipcode.label}}</td>
                        <td>{{forms.zipcode}}</td>
                    </tr>

                    <tr>
                        <td>{{forms.img.label}}</td>
                        <td>{{forms.img}}</td>
                       
                       
                       
                    </tr>
                </table>
            
                <button type='submit' class='btn btn-success'>Save</button>

            </form>
        </div>            
    </div>

    <div class="row">
       <div class="col-md-12">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <script>alert('{{message}}')</script>
            {% endfor %}
        </ul>
        {% endif %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>ContactNo</th>
                    <th>ZipCode</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                {% for data in datas %}
                    <tr>
                        <td>{{data.name}}</td>
                        <td>{{data.gender}}</td>
                        <td>{{data.city}}</td>
                        <td>{{data.contactno}}</td>
                        <td>{{data.zipcode}}</td>
                        <td><img src='{{data.ImageUrl}}' width="30px" height="30px"/></td>
                        <td>
                            <a href="{% url 'personeditepage' data.id %}"><button type='submit' class='btn btn-secondary'>Edit</button></a>
                            <a href="{% url 'persondeletepage' data.id %}" onclick="return confirm('Are you sure to Delete?')" ><button type='submit' class='btn btn-danger'>Delete</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
       </div>
   </div>
   <script>
       const inputfield = document.getElementsByTagName('input')
       for(let i in inputfield)
       {
            inputfield[i].className += 'form-control'
       }

       const selectfield = document.getElementsByTagName('select')
       for(let i in selectfield)
       {
            selectfield[i].className += 'form-control'
       }
   </script>
{% endblock %}