{% extends 'index.html' %}
{% block title %} User Registration {% endblock %}
{% block contents %} 
    <div class="col-md-6">
        <form method='post'>
             {% csrf_token %}
             <table class="table">
               
                    <tr>
                      <th scope="col">Name</th>
                      <td>{{forms.name}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Email</th>
                        <td>{{forms.email}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Password</th>
                        <td>{{forms.password}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary" value="Register">Submit</button>
                        </td>
                    </tr>
             </table>
        </form>

        <!-- <script>
            const inputfield = document.getElementsByTagName('input')
            for(let i in inputfield)
            {
                    inputfield[i].className += 'form-control'
            }
        </script> -->
    </div>
{% endblock %}