<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Purpose</th>
        <th>Message</th>
        <th>Action</th>
    </tr>
        {% for data in forms%}
             <tr>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.purpose}}</td>
                <td>{{data.msg}}</td>
                <td><a href="{% url 'deletecontacts' data.id %}"><button type='submit' onclick="return confirm('Are you sure to Delete?')" class='btn btn-danger'>Delete</button></a></td>
            </tr>
        {% endfor %}
</table>